In [1]:
import pandas as pd
import datetime
import numpy as np 
import os

In [7]:
#create raw dataframe
df_raw = os.path.join("df_raw.csv")
raw_df=pd.read_csv(df_raw)

In [10]:
#view datatypes
raw_df.dtypes

season         int64
episode       object
title         object
restaurant    object
location      object
air_date      object
dtype: object

In [11]:
#get counts
raw_df.count()

season        1251
episode       1251
title         1251
restaurant    1251
location      1251
air_date      1233
dtype: int64

In [13]:
raw_df.isnull().sum()

season         0
episode        0
title          0
restaurant     0
location       0
air_date      18
dtype: int64

In [34]:
#get unique restraunts 
names = raw_df.restaurant.unique()
names

array(["Mac & Ernie's Roadside Eatery", "Brint's Diner",
       'The Mad Greek Cafe', ..., 'Tahini', 'Corduroy Pie Co.',
       "Luigi Vitrone's Pastabilities Trattoria"], dtype=object)

In [35]:
raw_unique = raw_df.restaurants.nunique()
raw_unique

AttributeError: 'DataFrame' object has no attribute 'restaurants'

In [24]:
#create raw dataframe
df_coor = os.path.join("df_coordinates.csv")
coor_df=pd.read_csv(df_coor)

In [25]:
coor_df.dtypes

season          int64
episode        object
title          object
restaurant     object
location       object
air_date       object
latitude      float64
longitude     float64
dtype: object

In [26]:
coor_df.count()

season        1251
episode       1251
title         1251
restaurant    1251
location      1251
air_date      1233
latitude      1251
longitude     1251
dtype: int64

In [27]:
#get unique restraunts 
coor_names = coor_df.restaurant.unique()
coor_names

array(["Mac & Ernie's Roadside Eatery", "Brint's Diner",
       'The Mad Greek Cafe', ..., 'Tahini', 'Corduroy Pie Co.',
       "Luigi Vitrone's Pastabilities Trattoria"], dtype=object)

In [33]:
coor_count = coor_df.restaurant.nunique()
coor_count

1162

In [36]:
raw_count = raw_df.restaurant.nunique()
raw_count

1162

In [37]:
#create yelp dataframe
df_yelp = os.path.join("df_yelp.csv")
yelp_df=pd.read_csv(df_yelp)

In [38]:
yelp_df

,season,episode,title,restaurant,rating,price,city,state
0,1,1,Classics,Mac & Ernie's Roadside Eatery,4.0,$$,Tarpley,Texas
1,1,1,Classics,Brint's Diner,3.5,$,Wichita,Kansas
2,1,1,Classics,The Mad Greek Cafe,3.0,$$,Baker,California
3,1,2,That's Italian,Pizza Palace,4.0,$,Knoxville,Tennessee
4,1,2,That's Italian,Hullabaloo Diner,3.5,$$,Wellborn,Texas
...,...,...,...,...,...,...,...,...
1246,30,1,A World of Barbecue,Grand Ole BBQ,4.5,$$,San Diego,California
1247,30,1,A World of Barbecue,Locale BBQ Post,4.0,$$,Wilmington,Delaware
1248,30,2,"Sausage, Shawarma and Scaloppini",Tahini,4.5,$,San Diego,California
1249,30,2,"Sausage, Shawarma and Scaloppini",Corduroy Pie Co.,4.5,$$,Vancouver,British Columbia
1250,30,2,"Sausage, Shawarma and Scaloppini",Luigi Vitrone's Pastabilities Trattoria,4.0,$$,Wilmington,Delaware

In [40]:
yelp_count = yelp_df.restaurant.nunique()
yelp_count

1162

In [41]:
#Checking on something I found by accident
yelp_count = yelp_df.restaurant.nunique
yelp_count

<bound method IndexOpsMixin.nunique of 0                 Mac & Ernie's Roadside Eatery
1                                 Brint's Diner
2                            The Mad Greek Cafe
3                                  Pizza Palace
4                              Hullabaloo Diner
                         ...
1246                              Grand Ole BBQ
1247                            Locale BBQ Post
1248                                     Tahini
1249                           Corduroy Pie Co.
1250    Luigi Vitrone's Pastabilities Trattoria
Name: restaurant, Length: 1251, dtype: object>

In [43]:
#create cloropleth dataframe
df_choropleth = os.path.join("df_choropleth.csv")
choro_df=pd.read_csv(df_choropleth)

In [44]:
#We don't need the choropleth file as far as I can tell
choro_df.dtypes

location             object
latitude            float64
longitude           float64
place(s) visited     object
dtype: object